<html>

{{>head}}
{{>header}}

<form method="GET" action="/cotacao">
    <div>Ativo:
        <input type="text" name="ativo">
        <input type="submit" value="Pesquisar" />
    </div>
</form>

{{>footer}}

</html>